.formwrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .formgroup {
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;
        label {
            width: 95%;
            display: block;
            margin-bottom: 1em;
            font-weight: 800;
            color: black;
        }
        input {
            width: 95%;
            display: block;
            margin-bottom: 1em;
            background: #f8f8f8;
            padding: 1em;
            border: #d8d7d7 1px solid;
        }
    }
}
